<div class="container notesforme">
    <div class="row mt-5 text-center">
        <h1 class="notesforme-titulo">La web de notas que te cambia la vida.</h1>
        <h1 class="notesforme-titulo">Aprende a usarla en 5 minutos.</h1>
    </div>
    <div class="row mt-5 justify-content-around">
        <img src="./../../../assets/img/laptop-3317007_1280.jpg" class="w-75 img-fluid" alt="">
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" class="notesforme-button p-4 mt-4 mb-2 fw-bold">Nueva Nota!</button>
    </div>
</div>