<div class="container notesforme">
    <div class="row mt-5 text-center">
        <h1 class="notesforme-titulo">La web de notas que te cambia la vida.</h1>
        <h1 class="notesforme-titulo">Aprende a usarla en 5 minutos.</h1>
    </div>
    <div class="row mt-5 justify-content-around">
        <img src="./../../../assets/img/laptop-3317007_1280.jpg" class="w-75 img-fluid" alt="">
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" class="notesforme-button p-4 mt-4 mb-4 fw-bold">Nueva Nota!</button>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-5">
        <div data-aos="zoom-in-down">
            <img src="./../../../../assets/img/atractivo-hombre-barbudo-anteojos-smartphone.jpg" class="img-fluid notesforme-imgDiv" alt="">
            <h2></h2>
        </div>
        <div data-aos="zoom-in-down">
            <img src="./../../../../assets/img/retrato-hombre-negocios-joven-sonriente-que-usa-computadora-portatil.jpg" class="img-fluid notesforme-imgDiv" alt="">
            <h2></h2>
        </div>
        <div data-aos="zoom-in-down">
            <img src="./../../../../assets/img/trabajar-casa-estacion-trabajo-ergonomica.jpg" class="img-fluid notesforme-imgDiv" alt="">
            <h2></h2>
        </div>
    </div>
</div>