<h1 class="text-center display-6">{{this.comprobarHora() | titlecase}}</h1>
<mat-drawer-container class="col-12 container-fluid row notesforme">
    <div class="row">
        <div class="col-1">
            <mat-icon #changeIcon class="notesforme-icon-row" (click)="this.bollIcon()"
                matTooltip="Información">{{this.showFiller ? 'arrow_forward_ios' : 'arrow_back_ios'}}</mat-icon>
        </div>
        <div class="col-3 row notesforme-Notes">
            <div class="col-12">
                <!----------------------------------------------FILTROS----------------------------------------------------------------->
                <div class="row">
                    <div class="col-12 d-flex justify-content-between mb-4 mt-2">
                        <h3>Tus Notas</h3>
                        <button mat-raised-button class="notesforme-newNota fw-bold" (click)="this.newNota('200ms', '200ms')">NUEVA NOTA</button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="">{{this.filterArray().length > 1 ? this.filterArray().length + ' notas' : this.filterArray().length + ' nota'}} </h6>
                        <mat-form-field class="w-75">
                            <mat-label>Busqueda Avanzada</mat-label>
                            <input (keyup)="this.searchAvance($event)" matInput type="text">
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        <div>
                            <mat-icon matTooltip="Ordenar" class="ms-1 notesforme-icon-filter" (click)="this.ajustes()">sort</mat-icon>
                        </div>
                    </div>
                    <hr>
                </div>
                <!----------------------------------------------CARDS-NOTES----------------------------------------------------------------->
                <div class="row d-flex justify-content-center notesforme-divNotas">
                    <mat-card class="col-12 row mt-3 mb-2 notesforme-matCard" (click)="this.viewNota(nota.id)" *ngFor="let nota of this.filterArray()">
                        <div class="col-12 notesforme-nota-date">
                            <div class="d-flex justify-content-between">
                                <h6 class="mt-2">{{nota.fechaNota | date:'mediumDate'}}</h6>
                                <div>
                                    <mat-icon class="mt-1" matTooltip="Editar Nota" (click)="this.updateNota('200ms', '200ms',nota)">edit</mat-icon>
                                    <mat-icon class="mt-1 ms-2" matTooltip="Eliminar Nota" (click)="this.deleteNote(nota)">delete</mat-icon>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center mb-2">
                                <div class="col-8">
                                    <h5 class="col-12">{{nota.titulo}}</h5>
                                    <p class="text-truncate">{{nota.descripcion | pipeString}}</p>
                                    <mat-chip-list class="col-3">
                                        <mat-chip-row disabled>{{this.usuarioInfo.nombre | titlecase}}</mat-chip-row>
                                    </mat-chip-list>
                                </div>
                                <div class="col-4 divIMG">
                                    <img class="img-fluid notesforme-card-img"
                                    [src]="(this.nota?.imgNota) ? 'http://localhost:8080/api/cliente/img/uploads/'+(this.nota?.imgNota) : './../../../../assets/img/man-593333_1280.jpg'"
                                     alt="imagen-nota" srcset="">
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-8 row notesforme-Editor">
            <form id="textNotes" class="ms-2">
                <textarea class="" id="editor" rows="35"></textarea>
                <div class="d-flex justify-content-center">
                    <button mat-raised-button type="submit" (click)="this.guardarNota()" class="m-auto mt-3">{{!this.actualizar ? 'Guardar Nota' : 'Actualizar Nota'}} </button>
                </div>
            </form>
        </div>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-nav-side></app-nav-side>
    </mat-drawer>
</mat-drawer-container>