<header class="container d-flex justify-content-around">
    <div class="row align-items-center" [routerLink]="['/']">
        <img src="./../../../../assets/img/5b06c1a5fad1cae04539afe1.png" class="col-6 img-fluid d-inline" alt="img-logo" srcset="">
        <h2 class="col-6 ">NotesForMe</h2>
    </div>
    <div class="row align-items-center d-flex justify-content-between">
        <h5 class="col-6">Login</h5>
        <h5 class="col-6" [routerLink]="['/auth/register']">Register</h5>
    </div>
</header>
